<div id="top" class="jumbotron moving"> 
      <div class="container, login"> 
        <a href="#page_two" style="color: #0DB43E">Sign Up</a>
        <a> / </a>
        <a href="#page_two" style="color: #0DB43E">Sign In</a>
        </div>
        <div class="logo2 hideme">
         <%= image_tag "doppelganger.png", alt: "Logo", style: "width:50;height:100px;" %>
       </div>

       <div id="annoy">
        <h1>Doppelganger</h1>
        <p> Doppelganger Facial Recognition </p>
      
      </div>
</div>
<header data-spy="affix" data-offset-top="150">  <!-- sticky nav -->

 <nav class="navbar navbar-inverse">
      <div>
        <div class="nav_pad navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
    
          <a class="nav_pic" href="#"><%= image_tag "doppelganger.png", alt: "Logo", style: "width:5;height:55px;"%></a>

           <a class="nav_pic" href="#"><%= image_tag "doppel.png", alt: "Logo", style: "width:5;height:35px;"%></a>
          </div>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <div id="nav-main">
          <ul class="nav navbar-nav hover">
            <li><a href="#top">Home</a></li>
            <li><a href="#page_two">Sign-Up</a></li>
            <li><a href="#page_three">About</a></li>
            <li><a href="#page_four">Download App</a></li>
            <li><a href="#page_five">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</header>


<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Getting Started</h1>
            
            </div>
          </div>
        </div>
        <div class="item">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Step 1: Download App</h1>
              <p><a class="btn btn-lg btn-primary" href="#page_four" role="button">Download App</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Step 2: Submit a Photo</h1>
              
            </div>
          </div>
        </div>
        <div class="item">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1>Step 3: Meet Your Doppelganger</h1>
 
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->






<div id="page_two">
<div id="log" class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1 class="title">Sign Up for Free</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1 class="title">Welcome Back!</h1>
          
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div>
      
</div> <!-- /form -->
</div>

















<div id="page_three">
<div id="about" class="container">
<h2 class="about_h1"> About </h2>
<p class="about_p"> Doppelganger is an iphone and android application that uses facial recognition software that allows the user to import a photo of them to match you with your real world doppelganger. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. </p>
</div>

<%= image_tag "math.png", class:"math", alt: "Math", style: "width:85;height:170px;"%>
</div>




<div id="page_four"
<div id="space_two" class="container download">

  <h2 class="download_title"> Download App </h2>
<div class="store">
  <a href="https://itunes.apple.com/us/genre/ios/id36?mt=8" target="_blank">
    <%= image_tag "apple.png", class:"apple", alt: "Apple Logo", style: "width:60;height:65px;"%>
  </a>
  <a href="https://play.google.com/store?hl=en" target="_blank">
  <%= image_tag "android.png", class:"andriod", alt: "Android Logo", style: "width:60;height:65px;"%>
  </a>
</div>
</div>





<div id="page_five">
<div id="space_three">
<div id="main">
      <div class="form header">
        <h1>Contact us</h1>
      </div>

      <div class="form">
        <form action="#">
          <div class="row row indent item">
            <div class="row indent item">
              <input type="text" name="name" placeholder="Full name" class="full" spellcheck="false">
            </div>

            <div class="row indent item">
              <input type="text" name="email" placeholder="Email" class="full" spellcheck="false">
            </div>
          </div>

          <div class="row indent item">
            <input type="text" name="subject" placeholder="Subject" class="full" spellcheck="false">
          </div>

          <div class="row indent item">
            <textarea name="content" class="full" placeholder="Message"></textarea>
          </div>

          <div class="row">
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<section class="connect">
  <h3> Follow Us! </h3>

  <a href="https://www.facebook.com" target="_blank" title="Join Our Facebook!">  <%= image_tag "facebook.png"%></a>

  <a href="https://www.instagram.com" target="blank" title="Join Our Instagram!"><%= image_tag "instagram.png"%></a>
</section>









<div class="foot container-fluid nopadding">
       <footer class="col-sm-12">
          <p><strong>&copy;2016 Doppelganger Facial Recognition</strong></p>
      </footer>
    </div>





   
  

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


     
        <script type="text/javascript">

          $('nav a').click(function(){
            $('html, body').animate({
              scrollTop: $( $.attr(this, 'href') ).offset().top
            }, 700);
            return false;
          });

    </script>

<script type="text/javascript">
    $(window).resize(function() {

  if ($(this).width() < 660) {

    $('.hideme').hide();

  } else {

    $('.hideme').show();

    }

});
</script>

<script type="text/javascript">
    $(window).resize(function() {

  if ($(this).width() > 660) {

    $('.hidedrop').hide();

  } else {

    $('.hidedrop').show();

    }

});
</script>

<script type="text/javascript">
$('.nav a').on('click', function(){
    $('.btn-navbar').click(); //bootstrap 2.x
    $('.navbar-toggle').click() //bootstrap 3.x by Richard
});
</script>

<script type="text/javascript">
  $('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

    if (e.type === 'keyup') {
      if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
      if( $this.val() === '' ) {
        label.removeClass('active highlight'); 
      } else {
        label.removeClass('highlight');   
      }   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
        label.removeClass('highlight'); 
      } 
      else if( $this.val() !== '' ) {
        label.addClass('highlight');
      }
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});

</script>


<script type="text/javascript">
$(document).on('click','.navbar-collapse.in',function(e) {
    if( $(e.target).is('a') && $(e.target).attr('class') != 'dropdown-toggle' ) {
        $(this).collapse('hide');
    }
});
</script>


<script type="text/javascript">
  var LoginModalController = {
    tabsElementName: ".logmod__tabs li",
    tabElementName: ".logmod__tab",
    inputElementsName: ".logmod__form .input",
    hidePasswordName: ".hide-password",
    
    inputElements: null,
    tabsElement: null,
    tabElement: null,
    hidePassword: null,
    
    activeTab: null,
    tabSelection: 0, // 0 - first, 1 - second
    
    findElements: function () {
        var base = this;
        
        base.tabsElement = $(base.tabsElementName);
        base.tabElement = $(base.tabElementName);
        base.inputElements = $(base.inputElementsName);
        base.hidePassword = $(base.hidePasswordName);
        
        return base;
    },
    
    setState: function (state) {
      var base = this,
            elem = null;
        
        if (!state) {
            state = 0;
        }
        
        if (base.tabsElement) {
          elem = $(base.tabsElement[state]);
            elem.addClass("current");
            $("." + elem.attr("data-tabtar")).addClass("show");
        }
  
        return base;
    },
    
    getActiveTab: function () {
        var base = this;
        
        base.tabsElement.each(function (i, el) {
           if ($(el).hasClass("current")) {
               base.activeTab = $(el);
           }
        });
        
        return base;
    },
   
    addClickEvents: function () {
      var base = this;
        
        base.hidePassword.on("click", function (e) {
            var $this = $(this),
                $pwInput = $this.prev("input");
            
            if ($pwInput.attr("type") == "password") {
                $pwInput.attr("type", "text");
                $this.text("Hide");
            } else {
                $pwInput.attr("type", "password");
                $this.text("Show");
            }
        });
 
        base.tabsElement.on("click", function (e) {
            var targetTab = $(this).attr("data-tabtar");
            
            e.preventDefault();
            base.activeTab.removeClass("current");
            base.activeTab = $(this);
            base.activeTab.addClass("current");
            
            base.tabElement.each(function (i, el) {
                el = $(el);
                el.removeClass("show");
                if (el.hasClass(targetTab)) {
                    el.addClass("show");
                }
            });
        });
        
        base.inputElements.find("label").on("click", function (e) {
           var $this = $(this),
               $input = $this.next("input");
            
            $input.focus();
        });
        
        return base;
    },
    
    initialize: function () {
        var base = this;
        
        base.findElements().setState().getActiveTab().addClickEvents();
    }
};

$(document).ready(function() {
    LoginModalController.initialize();
});

</script>